<div class="container gap-3">
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;" (click)="onSearchUser()">Accéder à la recherche d'un utilisateur</button>
        </div>
        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;">Gérer les administrateurs</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;">Éditer les infobulles</button>
        </div>
        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;">Éditer les liens externes</button>
        </div>
    </div>
</div>