<div class="container gap-3">
    <div class="row p-2">

        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;" 
            routerLink="/admin/find-user-search">Accéder à la recherche d'un utilisateur
            </button>
        </div>
    
        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;"
            routerLink="/admin/manage-admins">Gérer les administrateurs
            </button>
        </div>
    
    </div>

    <div class="row p-2">

        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;"
            routerLink="/admin/edit-infobulles">Éditer les infobulles
            </button>
        </div>

        <div class="col">
            <button class="btn btn-lg" style="width: 100%; height: 100px;"
            routerLink="/admin/edit-infos">Éditer les liens externes
            </button>
        </div>
        
    </div>
</div>