.parallax {
  /* The image used */
  background-image: url("/assets/img/library.jpg");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .parallax-container{
  display:grid;
  grid-template-rows: 0px 1fr auto;
  min-height: calc(100vh - 96px);
 }
