
<div class="groupContainer" @insertTrigger>
  <div class="leftGroup">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputContainer mb-3">
        <div
        *ngIf="submitted && f['email'].invalid && (f['email'].dirty || f['email'].touched)"
        >
          <div
          *ngIf="f['email'].errors?.['required']"
          class="card text-white bg-danger p-1"
          >
          Veuillez entrer une adresse mail
          </div>
          <div
          *ngIf="f['email'].errors?.['pattern']"
          class="card text-white bg-danger p-1"
          >
          Veuillez entrer une adresse mail de la Helha
          </div>
          </div>

          <div
          *ngIf="submitted && f['pwd'].invalid && (f['pwd'].dirty || f['pwd'].touched)"
          >
          <div
          *ngIf="f['pwd'].errors?.['required']"
          class="card text-white bg-danger p-1"
          >
          Veuillez entre votre mot de passe
          </div>
          <div
          *ngIf="f['pwd'].errors?.['minlength']"
          class="card text-white bg-danger p-1"
          >
          Votre mot de passe est trop court
          </div>
        </div>
      </div>
      <div class="inputContainer">
        <div class="inputGroup">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Adresse mail"
            formControlName="email"
          >
        </div>

        <div class="inputGroup">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
          <input
          type="password"
          name="pwd"
          id="pwd"
          placeholder="Mot de passe"
          formControlName="pwd"
          >
        </div>
        <div class="inputGroup">
          <p>Mot de passe oublié ? <a routerLink="/form-email">Cliquez ici</a></p>
        </div>
      </div>



      <br>
      <button
        type="submit"
        (click)="login()"
      >
        Se connecter
      </button>
    </form>
    </div>
    <div class="rightGroup">
      <h2>Nouveau sur <span class="color-helha"> Medifyer </span>?</h2>
      <a routerLink="/inscription">S'inscrire</a>
    </div>
</div>


