:host{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigDiv{
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 70%;
  min-width: 300px;
}
.questionDiv{
  width: 100%;
}
.questionDiv, .select, .delete{
  transition: all ease-in-out 150ms;
}

.questionDiv:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.libelQ{
  color: #029791;
  font-size: 1.2rem;
  font-weight: 600;
}
.libelT{
  font-size: 1.1rem;
}
.svgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
  height: 25px;
  fill: #989898;
}
.questionDiv .select:hover{
  fill :#029791;
  transform: scale(1.1);
}
.questionDiv .delete:hover{
  fill: #d61212;
  transform: scale(1.1);
}
.lesBtn{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
button{
  background: none;
  width: 100%;
	cursor: pointer;
  border:unset;
  font-size: 1.2rem;
  color: #1dd3cd;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 200ms;
}
button:hover{
  background-color: #363636;
  color: white;
  border-bottom: 2px solid white;
}

.dialog{
  width: '60vw';
}

::ng-deep .custom-accept-button{
  background-color: rgb(226, 18, 18);
  border: none;
  outline: red;
  box-shadow:
    0 0 0 2px white, /* Espace non coloré */
    0 0 0 4px red !important;
}

::ng-deep .custom-accept-button:hover {
  background-color: rgb(255, 0, 0) !important;
  transition: all ease-in-out 150ms;
  transform: scale(1.05);
}

::ng-deep .custom-reject-button{
  background-color: #989898 !important;
  border: none;
}

::ng-deep .custom-reject-button:hover {
  background-color: #989898 !important;
  transition: all ease-in-out 150ms;
  transform: scale(1.05);
}
