.bigDiv{
  background-color: #EDEDED;
  border-radius: 1rem;
}

.questionDiv:hover{
  background-color: rgb(240, 240, 240);
}

.libelQ{
  color: #029791;
}
.svgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
  max-width: 70%;
  height: auto;
  fill: #989898;
}
