<div  @insertTrigger class="form-part bg-light p-4 rounded">
  <div class="mb-5px">
    <button (click)="displayEquation()" class="btn btn-dark mr-5px">Generer</button>
    <button [ngxClipboard]="equationInput" class="btn btn-dark mr-5px">Copier</button>
    <a href="https://pubmed.ncbi.nlm.nih.gov/?term={{equationInput.value}}" target="_blank" class="btn btn-dark">PubMed</a>
  </div>
  <h5>Equation de recherche (avant traduction)</h5>
  <textarea name="" id="" cols="30" rows="3" #equationInput></textarea>
  <h5>Equation de recherche traduite</h5>
  <textarea name="" id="" cols="30" rows="3" #equationTraduiteInput></textarea>
  <p>Nombre d'articles : {{counter}}</p>
</div>
