.width-300px{
  max-width: 300px;
}
.width-500px{
  max-width: 500px;
}

.btn{
  text-align: center;
}
h1,p,h2{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

p{
  font-size: 20px;
}

.connexion{
  flex-wrap: wrap;
}
 .brand{
  color: #01bdb6;
  font-weight: 600;
 }
