:host{
  width: 70%;
  min-width: 300px;
  margin-top: 20px;
}

label,h5{
  display: flex;
  flex-direction: row;
  align-items: center;
}

label svg{
  height: 32px;
  width: 32px;
  margin-right: 10px;
  opacity: 60%;
}

h5 svg{
  height: 35px;
  width: 35px;
  margin-right: 10px;
  opacity: 60%;
}

.mesh svg, .mesh button svg{
  height: 35px;
  width: 35px;
  opacity: 60%;
  margin-left: 15px;
  transition: all 200ms ease-in-out;
}


textarea{
  resize: none;
}

textarea:focus + .card{
  opacity: 1;
  transition: all 200ms;
  height: 100%;
  top: 0px;
}

.card{
  margin-top: 10px;
  opacity: 0;
  transition: all 200ms;
  height: 0;
  top: -50px;
  overflow: hidden;
}

.card-title{
  color: #1dd3cd;
}

.column-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
}

.natural{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mesh{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.valid{
  color:green;
}
.valid + svg{
  fill: green;
}
.notvalid{
  color:red;
}
.notvalid + button svg{
  fill: red;
}

.mesh button{
  display: flex;
  border: none;
  background: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 50px;
}

.mesh button:hover svg{
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}


.valid,.notvalid{
  width: calc(100% - 50px);
  transition: all 200ms ease-in-out;
}

input{
  width: 100%;
  transition: all 200ms ease-in-out;
}
.bubble{
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg) skew(10deg, 10deg);
  right: 10px;
  top: 6px;
  z-index: -1;
}

.card{
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 300ms ease-in-out;
  text-shadow: none;
  border-radius: 2px;
  filter: drop-shadow(0 3px 3px rgba(0,0,0,0.3));
  font-weight: bold;
  color: #1dd3cd;
  height: 35px;
  justify-content: center;
  align-items: center;
  width: 190px;
}
.card .bubble{
  transform: translateY(-2px);
  right: auto;
}
.mesh button:hover .card{
  opacity: 1;
  transform: scaleY(1) translateY(80px);
  transition: opacity 200ms ease-in-out, bottom 200ms;
}

@media (max-width: 991px){
  .column-group{
    flex-direction: column;
  }
  .column{
    width: 100%;
  }
}
