:host{
  width: 70%;
  min-width: 300px;
  margin-top: 20px;
}

label{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

label h5{
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

label svg{
    height: 32px;
    width: 32px;
    margin-right: 10px;
    opacity: 60%;
}

.mesh svg, .mesh button svg{
  height: 35px;
  width: 35px;
  opacity: 60%;
  margin-left: 15px;
  transition: all 200ms ease-in-out;
}


textarea{
  resize: none;
}

textarea:focus + .card{
  opacity: 1;
  transition: all 200ms;
  height: 100%;
  top: 0px;
}

.card-title{
  color: #1dd3cd;
}

.column-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
}

.natural{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mesh{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.valid{
  color:green;
}
.valid + svg{
  fill: green;
}
.notvalid{
  color:red;
}
.notvalid + button svg{
  fill: red;
}

.mesh button{
  display: flex;
  border: none;
  background: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 50px;
}

.mesh button:hover svg{
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}


.valid,.notvalid{
  width: calc(100% - 50px);
  transition: all 200ms ease-in-out;
}

input{
  width: 100%;
  transition: all 200ms ease-in-out;
}

.mesh button:hover .card{
  opacity: 1;
  transform: scaleY(1) translateY(80px);
  transition: opacity 200ms ease-in-out, bottom 200ms;
}

.btn-help svg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  fill: white;
}
.btn-help{
  border-radius: 5px;
  margin-bottom: 5px;
}

.form-group{
  margin-top: 20px;
}

.btn-helha{
  background-color: #009790;
}

.btn-hetop{
  display: flex;
  flex-direction: row;
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
  background-color: #5bce6b;
}

.btn-hetop svg{
  height: 20px;
  width: 20px;
  fill: rgb(20, 20, 20);
  margin-left: 5px;
}

@media (max-width: 991px){
  .column-group{
    flex-direction: column;
    align-items: center;
  }
  .column{
    width: 100%;
    align-items: center;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn{
  transition: all ease-in-out 100ms;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
}

.card-hover{
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 300ms ease-in-out;
  text-shadow: none;
  border-radius: 2px;
  filter: drop-shadow(0 3px 3px rgba(0,0,0,0.3));
  font-weight: bold;
  color: #1dd3cd;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 200px;
  z-index: 10;
}

button:hover .card-hover{
  opacity: 1;
  transition: all 200ms;
  height: 100%;
  top: -30px;
}

.bubble{
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg) skew(10deg, 10deg);
  right: 10px;
  top: 6px;
  z-index: -1;
}

.card .bubble{
  top: -2px;
  right: auto;
}
