:host{
  width: 70%;
  min-width: 300px;
  margin-top: 20px;
}

label,h5{
  display: flex;
  flex-direction: row;
  align-items: center;
}

label svg{
  height: 32px;
  width: 32px;
  margin-right: 10px;
  opacity: 60%;
}

h5 svg{
  height: 35px;
  width: 35px;
  margin-right: 10px;
  opacity: 60%;
}

textarea{
  resize: none;
}

textarea:focus + .card{
  opacity: 1;
  transition: all 200ms;
  height: 100%;
  top: 0px;
}

.card{
  margin-top: 10px;
  opacity: 0;
  transition: all 200ms;
  height: 0;
  top: -50px;
  overflow: hidden;
}

.card-title{
  color: #1dd3cd;
}

.column-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 33%;
}

.natural{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.valid{
  color:green;
}
.notvalid{
  color:red;
}
@media (max-width: 991px){
  .column-group{
    flex-direction: column;
  }
  .column{
    width: 100%;
  }
}
