.navbar-brand{
  font-family: 'Nunito',sans-serif;
  font-weight: 600;
  font-size: 24px;

}
.navbar{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  height: 50px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;

}
.dropdown-menu{
  position: relative;
  border-radius: 2px;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.3));
}
.dropdown-menu a{
  font-weight: bold;
  color: #029791;
  text-shadow: none;
}
.bubble{
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotate(45deg) skew(10deg, 10deg);
  right: 10px;
  top: -2px;
  z-index: -1;
}

/*svg{
  position: absolute;
  justify-content: center;
  fill: white;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.3));
}
.svg-icon{
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.svg-front{
  height: 21px;
  width: 21px;
  left: 2px;
  top:1px;
}
.svg-back{
  height: 24px;
  width: 24px;
  left: 0;
}

*/
