/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro:wght@300;400&display=swap');
body{
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 400;
  background-image: url(/assets/img/library.jpg);
  background-size: calc(max(100%, 800px));
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: 0 -700px;
  height: 2000px;
}

.ff-Nunito{
  font-family: 'Nunito',sans-serif;
}
