<button class="list-group-item list-group-item-action" 
*ngFor="let user of userList"
(click)="onGetUserSearches($event, user.id)">
    {{user.email}} : {{ user.nom }} {{ user.prenom }}
</button>


<nav aria-label="Page navigation" style="margin-top: 10px;">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" (click)="onGetNext()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </button>
        </li>
    </ul>
</nav>