
a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
}

.bubble{
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg) skew(10deg, 10deg);
  right: 10px;
  top: 6px;
  z-index: -1;
}
svg{
  position: absolute;
  fill: white;
  margin-right: 3px;
  filter: drop-shadow( 0 2px 2px rgba(0,0,0,0.3));
  z-index: 1;
  cursor: pointer;
}
.svg-front{
  height: 20px;
  width: 20px;
  transform: translate( 0px)
}

.svg-back{
  height: 29px;
  width: 29px;
}
.card{
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 300ms ease-in-out;
  text-shadow: none;
  border-radius: 2px;
  filter: drop-shadow(0 3px 3px rgba(0,0,0,0.3));
  font-weight: bold;
  color: #1dd3cd;
  height: 50px;
  justify-content: center;
  align-items: center;
  z-index: 20; /* Valeur plus élevée que l'élément au-dessus */
}

.card .bubble{
  top: -2px;
  right: auto;
}
a:hover + .card {
  opacity: 1;
  transform: scaleY(1) translateY(100%);
  transition: opacity 200ms ease-in-out, transform 200ms;
}

button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
